[submodule "prj-analytic-dashboard"]
	path = prj-analytic-dashboard
	url = git@github.com:abuabdirohman4/prj-analytic-dashboard.git
	branch = develop
[submodule "prj-gnbs-module"]
	path = prj-gnbs-module
	url = git@github.com:abuabdirohman4/prj-gnbs-module.git
	branch = main
[submodule "prj-nomads-travel-web"]
	path = prj-nomads-travel-web
	url = git@github.com:abuabdirohman4/prj-nomads-travel-web.git
	branch = main
[submodule "prj-portfolio"]
	path = prj-portfolio
	url = git@github.com:abuabdirohman4/prj-portfolio.git
	branch = master
[submodule "prj-sabilillah-app"]
	path = prj-sabilillah-app
	url = git@github.com:abuabdirohman4/prj-sabilillah-app.git
	branch = master
[submodule "prj-yea-virtual"]
	path = prj-yea-virtual
	url = git@github.com:abuabdirohman4/prj-yea-virtual.git
	branch = main
[submodule "prj-my-dashboard"]
	path = prj-my-dashboard
	url = git@github.com:abuabdirohman4/prj-my-dashboard.git
	branch = develop
[submodule "prj-co-portal"]
	path = prj-co-portal
	url = git@github.com:abuabdirohman4/prj-co-portal.git
	branch = develop
[submodule "prj-annotation-tool"]
	path = prj-annotation-tool
	url = git@github.com:abuabdirohman4/prj-annotation-tool.git
	branch = master
[submodule "prj-sikatrol-surat"]
	path = prj-sikatrol-surat
	url = git@github.com:abuabdirohman4/prj-sikatrol-surat.git
[submodule "prj-inventory-management"]
	path = prj-inventory-management
	url = git@github.com:abuabdirohman4/prj-inventory-management.git
